<%= notice %>
<%= alert %>
<%= form_tag do |f| %>
    <fieldset>
        <legend>Please log in</legend>

        <div>
            <label for="email">Email Address:</label>
            <%= text_field_tag :email, params[:email] %>
        </div>

        <div>
            <label for="password">Password:</label>
            <%= password_field_tag :password, params[:password] %>
        </div>

        <div>
            <span><%= submit_tag 'Log In' %></span>
            <span><%= link_to 'Register', new_user_path, :id => 'register' %></span>
        </div>
    </fieldset>
<% end %>